/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

.stroka {
    border: 0px;
}

.button {
    background: -moz-linear-gradient(#ffd597, #EBFFFF);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd597), to(#EBFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
    color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666;
}
.button:active{
    background: -moz-linear-gradient(rgb(255, 123, 0), #EBFFFF);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(255, 123, 0)), to(#EBFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
    color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666;
}
.button:hover{
    box-shadow: 3px 2px #ffd597;
}

.gradient {
    background: linear-gradient(to top, #fefcea, #ffab4c);
}

.stolbik {
    background: rgb(255, 246, 119);
}

.navigation {
    position: fixed;
    top: 0px;
    left: 1px;
    background-color: rgb(255, 238, 0);
}

.flink {
    color: rgb(255, 123, 0);
}
.slink {
    color: rgb(255, 123, 0);
}
.tlink {
    color: rgb(255, 123, 0);
}
.frlink {
    color: rgb(255, 123, 0);
}

.flink:visited {
    color: darkred;
}
.slink:visited {
    color: darkred;
}
.tlink:visited {
    color: darkred;
}
.frlink:visited {
    color: darkred;
}

.Download {
    color: rgb(145, 0, 145);
}
.Download:visited {
    color: rgb(255, 0, 255);
}
